@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing component module styles */
@import url('./navbar-styles.css');

/* importing components/ui-pattern module styles */
@import url('./button-styles.css');
@import url('./headline-styles.css');

html, body {
    @apply bg-white;
}

.page-view {
    @apply mx-auto;
    max-width: 1180px;
}

.page-content {
    @apply my-12;
}

.page-header-section {
    @apply mt-8 py-16;
    background-image: url('/hekors-gradient.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-hero-section {
    background-image: url('/landing-hero-section-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}